:root {
    /* ----------------------COLOR STYLE-------------------------- */
    --accent: #ffa55c;
    --accent2: #ceaad0;
    --bg-color: #ffe0cb;
    --bg-light-color: #fff9f4;
    --title-color: #1f1711;
    --typesetting: #312c27;
    --purple: #704174;
    --disabled: #e1d9e1;
    --input-color: #ac907a;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--bg-light-color);
    color: var(--typesetting);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    width: 358px;
    height: 62px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: var(--accent);
    border-radius: 60px;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span::before,
.burger-icon span::after,
.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--typesetting);
}

.burger-icon span {
    position: relative;
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* ------------------------------HEADER--------------------------------- */

.header {
    background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.hero__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 173px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {
    padding: -5px 0;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 0;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent);
    border-radius: 50%;
    z-index: -1;

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */

.hero {
    padding: 48px 0 140px;
}

.hero__inner {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__info {
    color: #B197B2;
    display: flex;
}

.hero__info div {
    margin: auto 10px;
    width: 4px;
    height: 4px;
    background: #b197b3;
    border-radius: 50%;
}

.hero__title {
    color: var(--title-color);
    font-family: "Gabriola", 'Times New Roman', Times, serif;
    font-size: 74px;
    line-height: 1;
    padding: 20px 0 30px;
    max-width: 519px;
}

.hero__text {
    max-width: 358px;
    padding-bottom: 40px;
}

.hero__img {
    margin-right: 15vw;
    position: relative;
    z-index: 0;
    display: inline-block;
}


.hero__img::before {
    content: '';
    position: absolute;
    bottom: 51px;
    right: -40px;
    width: 78px;
    height: 78px;
    background: var(--bg-color);
    border-radius: 50%;
}

.hero__img-button {
    position: absolute;
    bottom: 56px;
    right: -11.5px;
    width: 24px;
    padding: 20px;
    transition: opasity .4s;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 0px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid var(--accent);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

.hero__img-text {
    content: '';
    position: absolute;
    bottom: 54px;
    right: -162px;
    max-width: 115px;
}

/* ----------------------------------------------------------------- */

@media (max-width: 1200px) {

    .hero__content .hero__text,
    .button,
    .hero__content .hero__title,
    .hero__inner,
    .hero__img,
    .hero__info {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .hero__content .hero__text {
        max-width: 550px;
    }

    .hero__inner {
        flex-direction: column;
    }

    .hero__img {
        margin: 0;
    }

    .hero__img::before {
        bottom: -40px;
        left: 31px;
    }

    .hero__img-button {
        bottom: -35px;
        left: 41px;
    }

    .hero__img-text {
        bottom: -60px;
        left: 120px;
        max-width: 220px;
    }
}

@media (max-width: 900px) {
    .body--opened-menu {
        overflow: hidden;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--bg-light-color);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;

    }

    .nav__list {
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        transition: all .4s;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 600px) {

    .hero__title {
        font-size: 54px;
    }

    .button {
        width: 270px;
        height: 50px;
    }

    .hero__img img {
        max-width: 350px;
    }

    .hero__img::before {
        bottom: -35px;
        left: 31px;
        width: 68px;
        height: 68px;
    }

    .hero__img-button {
        bottom: -35px;
        left: 36px;
        width: 24px;
    }

    .hero__img-text {
        bottom: -55px;
        left: 100px;
    }

}

@media (max-width: 400px) {
body {
    font-size: 12px;
}

    .hero__title {
        font-size: 40px;
    }

    .button {
    width: 200px;
    height: 40px;
    }

    .hero__img img {
max-width: 250px;
    }

    .hero__img::before {
        bottom: -29px;
        left: 20px;
        width: 58px;
        height: 58px;
    }

    .hero__img-button {
        bottom: -33px;
        left: 18px;
    }

    .hero__img-button::before {
    left: 4px;
    top: 8px;
    width: 54px;
    height: 54px;
}

    .hero__img-text {
        bottom: -45px;
        left: 75px;
        max-width: 170px;
    }

}

/* -------------------------------MAIN---------------------------------- */



/* ------------------------------FOOTER--------------------------------- */

.form {
    padding: 140px 0px 140px;
    background: url(../images/decor/bg-footer.png) 50% 0 / cover no-repeat;
}

/* ----------------------------------------------------------------- */
.footer__bottom {
    background: #AB8261;
    padding: 30px 0 60px;
    color: var(--bg-light-color);
}

.hero__bottom-inner {
    display: grid;
    grid-template: repeat(1, 1fr) / 1fr 1fr 1.25fr auto;
}

.footer__logo {
    min-width: 241px;
}

.hero__socials {
    padding-top: 20px;
    display: flex;
    gap: 15px;

}

.footer__nav__list {
    padding-top: 10px;
}

.footer__nav-item {
    margin-top: -8px;
}

.footer__link {
    margin-top: 20px;
}

.footer__clock,
.footer__location {
    display: flex;
    gap: 10px;
}

.footer__clock img,
.footer__location img {
    padding-right: -2px;
    min-width: 24px;
}

.footer__clock {
    padding: 30px 0 10px;
}

.hero__bottom-text {
    padding-top: 30px;
}

.footer__phone {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: calc(38px / 24px);
}

.footer__copy {
    padding-top: 47px;
    color: #DEC5B1;
}

/* ----------------------------------------------------------------- */

@media (max-width: 1200px) {
    .hero__bottom-inner {
    grid-template: repeat(2, 1fr) / 1fr auto;
    margin: 0 15vw;
}
}
@media (max-width: 850px)
{
        .hero__bottom-inner {
    grid-template: repeat(4, 1fr) / 1fr;
}

.hero__bottom-inner,
.hero__bottom-item,
.footer__logo, 
.hero__socials,.footer__clock, .footer__location
{
justify-content: center;
align-items: center;
text-align: center;
}
.hero__bottom-inner {
    padding-top: 30px;
}
.hero__bottom-item {
    margin-top: -30px;
}
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */