/* -------------------------------MAIN INFORMATION---------------------------------- */

.information {
    margin: 140px 0 30px;
}

.information__inner {
    display: flex;
    gap: 0 54px;
}

/* ----------------------------------------------------------------- */

.information__img {
    position: relative;
    display: inline-block;
}

.information__img-girl {
    border-radius: 20px;
    max-width: 603px;
}


.information__img-control::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 78px;
    height: 78px;
    background: var(--bg-light-color);
    border-radius: 50%;
}

.information__img-control::after {
    content: '';
    position: absolute;
    bottom: 45px;
    left: 55px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 2px solid var(--accent2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.information__img-control:hover::after {
    opacity: 1;
}

.information__img::before {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: 299px;
    height: 108px;
    border-radius: 20px;
    background: #957b97e6;
}

.information__img-button {
    position: absolute;
    bottom: 42.5px;
    left: 52px;
    width: 24px;
    padding: 20px;
    transition: opasity .4s;
}

.information__img-text {
    content: '';
    position: absolute;
    color: var(--bg-light-color);
    bottom: 43px;
    left: 138px;
    max-width: 171px;
}

/* ----------------------------------------------------------------- */

.information__title {
    color: var(--title-color);
    font-family: "Gabriola", 'Times New Roman', Times, serif;
    font-size: 74px;
    line-height: 61px;
}

.information__text {
    padding-bottom: 30px;
}

.information__list {
    margin-top: 10px;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 1fr;
    gap: 32px 32px;
}

.information__item {
    background: var(--bg-color);
    border-radius: 20px;
    padding: 29px 23.5px;
    width: 296px;
    height: 130px;
    display: flex;
    position: relative;
}

.information__item-hat {
    position: absolute;
    max-width: 24px;
    top: 53px;
    left: 42.5px;
}

.information__item::before {
    content: '';
    position: absolute;
    left: 24.5px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--typesetting);
}

.information__item p {
    margin: auto 0 auto calc(99.5px - 23.5px);
    max-width: 173px;
}
