:root {
    /* ----------------------COLOR STYLE-------------------------- */
    --accent: #ffa55c;
    --accent2: #ceaad0;
    --bg-color: #ffe0cb;
    --bg-light-color: #fff9f4;
    --title-color: #1f1711;
    --typesetting: #312c27;
    --purple: #704174;
    --disabled: #e1d9e1;
    --input-color: #ac907a;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    font-weight: normal;
    background: var(--bg-light-color);
    color: var(--typesetting);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ----------------------------------------------------------------- */

.button {
    display: flex;
    width: 358px;
    height: 62px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: var(--accent);
    border-radius: 60px;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

/* ----------------------------------------------------------------- */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span::before,
.burger-icon span::after,
.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--typesetting);
}

.burger-icon span {
    position: relative;
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}